/* Обнуление */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul,
ol,
li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
html,
body {
  height: 100%;
  line-height: 1;
  background: #fafafa;
  font-size: 14px;
  color: #252b42;
  font-weight: 500;
  font-family: Montserrat;
}
/* ---Wrapper------------------------------------------------------------------------- */
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
/* ---Container------------------------------------------------------------------------- */
._container {
  max-width: 1046px;
  padding: 0px 15px;
  margin: 0px auto;
  box-sizing: content-box;
}
._ibg {
  position: relative;
}
._ibg img {
  position: absolute;
  width: 100%;
  height: 793px;
  top: 0;
  left: 0;
  object-fit: cover;
}
/* ---ШАПКА------------------------------------------------------------------------- */
.header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
}
.header__container {
  display: flex;
  min-height: 104px;
  align-items: center;
}
@media (max-width: 479px) {
  .header__container {
    min-height: 70px;
  }
}
.header__logo {
  font-size: 24px;
  font-weight: 700;
  color: inherit;
}
.header__menu {
  margin: 0px 0px 0px 133px;
}
@media (max-width: 992px) {
  .header__menu {
    margin: 0px 0px 0px 80px;
  }
}
@media (max-width: 767px) {
  .header__menu {
    margin: 0px 0px 0px 40px;
  }
}
@media (max-width: 479px) {
  .header__menu {
    margin: 0px 0px 0px 20px;
  }
}
.menu {
  padding: 5px 0;
}
.menu__list {
  flex-wrap: wrap;
  display: flex;
}

.menu__item:not(:last-child) {
  margin: 0px 21px 0px 0px;
}
.menu__link {
  color: #737373;
  font-weight: 600;
  line-height: calc(24 / 14 * 100%);
}
.menu__link:hover {
  text-decoration: underline;
}
@media (max-width: 479px) {
  .menu__link {
    font-size: 18px;
  }
}
/* ---PAGE------------------------------------------------------------------------- */
.page {
  flex: 1 1 auto;
  background-color: #fafafa;
}
.page__main-block {
}
.main-block {
  position: relative;
}
.main-block__container {
}

.main-block__body {
  padding: 184px 0px 332px 0px;
  position: relative;
  z-index: 2;
  max-width: 400px;
  height: 793px;
}
@media (max-width: 992px) {
  .main-block__body {
    padding: 124px 0px 191px 0px;
  }
}
.main-block__body > *:not(:last-child) {
  margin: 0px 0px 35px 0px;
}
.main-block__title {
  font-weight: 800;
  font-size: 58px;
  line-height: 138%;
  letter-spacing: 0.2px;
  color: #252b42;
}
@media (max-width: 992px) {
  .main-block__title {
    font-size: 48px;
  }
}
.main-block__text {
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0.2px;
  color: #737373;
}
.main-block__buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;
}
.main-block__button {
  border-radius: 37px;
  padding: 10px 36px;
  font-weight: 700;
  font-size: 14px;
  line-height: 200%;
  text-align: center;
  letter-spacing: 0.2px;
}

@media (max-width: 390px) {
  .main-block__button {
    min-width: 190px;
  }
}

.main-block__button_border {
  border: 1px solid #0d5c63;
  color: #0d5c63;
}
.main-block__button_border:hover {
  background: #ff7b47;
  color: #ffffff;
  border: 1px solid #ffffff;
}
.main-block__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

@media (max-width: 1300px) {
  .main-block__image img {
    object-position: right;
    opacity: 0.5;
  }
}

/* ---Services--------------------------------------------------------------------------------------- */

.page__services {
  position: relative;
  margin: -111px 0px 0px 0px;
  z-index: 2;
}
.services {
}
.services__container {
}

.services__body {
}
.services__column {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 30px;
}

.services__item {
}

@media (max-width: 1100px) {
  .services__item {
    flex: 1 1 auto;
  }
}
.item-services {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 35px 40px;
  gap: 10px;
  width: 328px;
  height: 242px;
  background: #ffffff;
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
}

@media (max-width: 990px) {
  .item-services {
    padding: 25px;
    width: 300px;
    height: 220px;
  }
}
.item-services__icon {
  width: 48px;
  height: 48px;
}
.item-service__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 133%;
  letter-spacing: 0.1px;
  color: #252b42;
}
.item-services__text {
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.2px;
  color: #737373;
}

.item-services_lastService {
  background: #0d5c63;
}

.item-services_lastService .item-service__title {
  color: #ffffff;
}

.item-services_lastService .item-services__text {
  color: #ffffff;
}

/* ---Advantage---------------------------------------------------------------------------------- */
.page__advantages {
  background-color: #fafafa;
}
.advantages {
}
.advantages__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 0px;
  gap: 50px;
}
@media (max-width: 800px) {
  .advantages__container {
    padding: 20px 0px;
  }
}
.advantages__header {
  margin: 0px 93px;
}
.header-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
}
.header-block__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 142%;
  letter-spacing: 0.2px;
  color: #252b42;
}

@media (max-width: 800px) {
  .header-block__title {
    text-align: center;
  }
}
.header-block__sub-title {
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  text-align: center;
  letter-spacing: 0.2px;
  color: #737373;
}
.advantages__body {
}
.advantages__column {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 30px;
}
.advantages__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 40px;
  gap: 10px;
  background: #ffffff;
  width: 230px;
  height: 209px;
}
@media (max-width: 1100px) {
  .advantages__column {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .advantages__item {
    flex: 1 0 45%;
  }
}

@media (max-width: 500px) {
  .advantages__item {
    flex: 1 0 100%;
  }
}

.advantages__icon {
  width: 48px;
  height: 48px;
}
.advantages__value {
  font-weight: 700;
  font-size: 40px;
  line-height: 142%;
  letter-spacing: 0.2px;
  color: #252b42;
}
.advantages__text {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.1px;
  color: #737373;
}

/* ---Adviced------------------------------------------------------------------------------------------ */
.page__advice {
  background: #fafafa;
}

.advice__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 0px;
}
@media (max-width: 800px) {
  .advice__container {
    padding: 0px 0px;
  }
}

.advice__header {
  padding: 45px 0px;
}

.advice__body {
}
.advice__column {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 30px;
  flex: 0 1 25%;
}

.advice__item {
}
.item-advice {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  background: #ffffff;
  width: 238px;
  height: 341px;
}

@media (max-width: 1100px) {
  .advice__column {
    flex-wrap: wrap;
    justify-content: center;
  }
  .item-advice {
    flex: 0 1 35%;
    height: 300px;
  }
}
@media (max-width: 800px) {
  .item-advice {
    height: 340px;
  }
}

.item-advice__header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px;
  gap: 15px;
  flex: 1 1 auto;
}
.item-advice__header_title {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.1px;
  color: #252b42;
}
.item-advice__header_text {
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.2px;
  color: #737373;
}
.item-advice__img {
  display: block;
}

/* ---Introduce-------------------------------------------------------------------------------- */
.page__introduce {
  background: #ffffff;
}

.introduce__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 100px 0px;
  gap: 100px;
}

.introduce__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  align-self: center;
}

.introduce__body {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 120px;
}
@media (max-width: 1100px) {
  .introduce__body {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    align-self: center;
    flex-direction: column-reverse;
  }
}
.introduce-body {
}
.introduce-body__video {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 35px;
}
.video__preViwe {
  width: 560px;
  height: 315px;
}
@media (max-width: 1100px) {
  .video__preViwe {
    width: 400px;
    height: 220px;
  }
}
@media (max-width: 420px) {
  .video__preViwe {
    width: 300px;
    height: 200px;
  }
}
.introduce-body__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 30px;
}
.introduce-body-content {
}
@media (max-width: 1100px) {
  .introduce-body-content {
    padding: 0px 10px;
    align-items: center;
  }
}
@media (max-width: 540px) {
  .introduce-body-content {
    padding: 0px 10px;
  }
}
.introduce-body-content__info {
}
.content-info {
}
.content-info__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 142%;
  letter-spacing: 0.2px;
  color: #252b42;
}
.content-info__text {
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.2px;
  color: #737373;
}
@media (max-width: 1100px) {
  .content-info__title {
    text-align: center;
  }
  .content-info__text {
    text-align: center;
  }
}
.introduce-body-content__list {
}
.content-list {
}
.content-list__body {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 20px;
}

.content-list__icon {
}
.content-list__info {
}
.list-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 5px;
}
.list-info__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.1px;
  color: #252b42;
}
.list-info__subTitle {
  font-weight: 600;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.2px;
  color: #737373;
}

/* ---Client----------------------------------------------------- */

.page__clients {
  background: #fafafa;
}
.clients {
}
.clients__container_icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 50px 0px;
  gap: 30px;
}

@media (max-width: 1100px) {
  .clients__container_icon {
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
  }
  .form__button {
  }
}

.clients__icon {
}
.clients__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 32px;
}
.subscribe {
  margin-bottom: -82px;
}
.subscribe__body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  background: #17213c;
  border-radius: 2px;
  width: 100%;
}
.subscribe__body_content {
}
.subscribe-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 30px 50px;
  gap: 180px;
  width: 100%;
}

@media (max-width: 500px) {
  .subscribe-content {
    padding: 10px 15px;
  }
}
.subscribe-content__title {
  display: flex;
  font-weight: 700;
  font-size: 24px;
  line-height: 133%;
  letter-spacing: 0.1px;
  color: #ffffff;
}
.subscribe-content__form {
  display: flex;
  flex: 0 1 50%;
}
.form {
}
@media (max-width: 800px) {
  .subscribe-content {
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
  }
  .subscribe-content__title {
    text-align: center;
  }
  .form__input {
    flex: none;
  }
}
.form__input {
  display: flex;
  flex: 1 1 auto;
  background: #f9f9f9;
  border: 1px solid #e6e6e6;
  border-radius: 5px 0px 0px 5px;
  padding: 0px 20px;
  outline: none;
  box-sizing: border-box;
  width: 100%;
}
.form__button {
  background: #ff7b47;
  border: 1px solid #e6e6e6;
  border-radius: 0px 5px 5px 0px;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 15px 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 200%;
  letter-spacing: 0.2px;
  color: #ffffff;
}
.clients__background {
  background: #252b42;
  height: 77px;
}

/* ---GetInTouch------------------------------------------- */
.page__getInTouch {
  background: #f3f3f3;
}
.getInTouch {
}
.getInTouch__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 0px;
  gap: 80px;
}
.getInTouch__body {
  margin: 0px 32.5px;
}
.getInTouch__column {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
}
@media (max-width: 1100px) {
  .getInTouch__column {
    flex-direction: column;
    width: 100%;
  }
  .getInTouch__body {
    width: 100%;
  }
  .getInTouch-item {
    width: 90%;
    gap: 8px;
  }
}
.getInTouch__item {
}
.getInTouch-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 40px;
  gap: 15px;
  background: #ffffff;
}
.getInTouch-item_active {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 40px;
  gap: 15px;
  background: #252b42;
}

.getInTouch-item__icon {
  width: 72px;
  height: 72px;
}
.getInTouch-item__emails {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.getInTouch-item__email {
  font-weight: 600;
  font-size: 14px;
  line-height: 171%;
  text-align: center;
  letter-spacing: 0.2px;
  color: #252b42;
}
.getInTouch-item_active .getInTouch-item__email {
  color: #ffffff;
}
.getInTouch-item__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.1px;
  color: #252b42;
}
.getInTouch-item_active .getInTouch-item__title {
  color: #ffffff;
}
.getInTouch-item__button {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 20px;
  gap: 10px;
  border: 1px solid #ff7b47;
  border-radius: 5px;
  background-color: #fff;
  font-weight: 600;
  font-size: 14px;
  line-height: 171%;
  text-align: center;
  letter-spacing: 0.2px;
  color: #ff7b47;
  transition: all 0.3s ease 0s;
}
.getInTouch-item_active .getInTouch-item__button {
  color: #ffffff;
  border: 1px solid #ffffff;
  background-color: #252b42;
}
.getInTouch-item__button:hover {
  background-color: #ff7b47;
  color: #fff;
}

/* ---Footer------------------------------------------------------------------------------------ */
.page__footer {
  background: #fafafa;
}

.footer__header {
}
.header-footer {
}
.header-footer__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 40px 0px;
}
.header-footer__body {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  justify-content: space-between;
  width: 100%;
}
@media (max-width: 1100px) {
  .header-footer__body {
    justify-content: space-around;
  }
}
@media (max-width: 720px) {
  .header-footer__content {
    width: 60%;
  }
}
@media (max-width: 370px) {
  .header-footer__body {
    flex-direction: column;
    gap: 20px;
  }
}
.header-footer__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;
}
.header-footer__content_title {
  font-weight: 700;
  font-size: 24px;
  line-height: 133%;
  letter-spacing: 0.1px;
  color: #252b42;
}
.header-footer__content_subTitle {
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.2px;
  color: #737373;
}
.header-footer__button {
  margin: 0px 20px;
}
.header-footer__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 40px;
  gap: 10px;
  background: #ff7b47;
  border-radius: 5px;
  font-weight: 700;
  font-size: 14px;
  line-height: 200%;
  text-align: center;
  letter-spacing: 0.2px;
  color: #ffffff;
  transition: all 0.3s ease 0s;
  border: solid 1px #ffffff;
}
@media (max-width: 1100px) {
  .header-footer__button {
    margin: 0px;
  }
  .header-footer__link {
    padding: 10px 20px;
  }
}
.header-footer__link:hover {
  background: #ffffff;
  color: #ff7b47;
  border: solid 1px #ff7b47;
}

/* ---Footer_top----------------- */
.footer__top {
  background: #17213c;
}

.top-footer__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 50px 0px;
}
@media (max-width: 1100px) {
  .top-footer__container {
    padding: 50px 20px;
  }
}
.top-footer__body {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0px;
  width: 100%;
  flex-wrap: wrap;
}
@media (max-width: 1100px) {
  .top-footer__body {
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
  }
}
.top-footer__column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 20px;
}
.top-footer__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.1px;
  color: #ffffff;
}
.top-footer__links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;
}
.top-footer__linkBody {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 10px;
}
.top-footer__link {
  font-weight: 600;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.2px;
  color: #ffffff;
}

/* ---Footer-bottom------------------------------------ */
.footer__bottom {
  background: #fafafa;
}
.bottem-footer__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 25px 0px;
}
.bottem-footer__body {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px;
  width: 100%;
}
@media (max-width: 400px) {
  .bottem-footer__body {
    padding: 0px 20px;
  }
}
.bottem-footer__text {
  font-weight: 600;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.2px;
  color: #737373;
}
.bottem-footer__socialBody {
  margin: 0px 40px;
}
.bottem-footer__social {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 20px;
}
.bottem-footer__icon {
}
